/* 하단 */
#bottom {width:100%; color:#000; padding:237px 20px 20px; background-color:#fff; box-sizing: border-box;}
#bottom .inner { margin:0 auto; display:flex; justify-content:space-between;}

#bottom .footer-left {display: flex; align-items: flex-start;}
#bottom .footer-left > div {margin-right: 4.167vw;}
#bottom .footer-left > div ul li {line-height: 18px;}
#bottom .footer-left > div ul li a {color:#000; font-size:14px; font-family:'basis-grotesque-medium', sans-serif;}
#bottom .footer-left > div p {line-height: 18px; color:#000; font-size:14px;}

#bottom .footer-right > div {display:flex; align-items:flex-start;}
#bottom .footer-right > div p span {line-height:18px; font-size:14px;}
#bottom .footer-right .info {margin-right: 1.667vw;}
#bottom .footer-right .sns {margin-bottom:15px;}
#bottom .footer-right .address span {font-family: 'Pretendard'; font-weight: 600; color: #8E8686; line-height: 18px;}
#bottom .footer-right .address span:after {content:''; width:1px; height:10px; display:inline-block; background-color:#fff;position:absolute; top:3px; right:-1px;}
#bottom .footer-right .address span.no-con:after {content:none;}
#bottom .footer-right .address span.email a {text-decoration:none;}

#bottom .footer-right .copyright {line-height: 19px; color: #8E8686; padding-left: 5px; font-size: 14px; font-weight: normal;}