/* 해당 디자인 기술 및 지식은 가영구 디자인측의 자산입니다 */
/* 디자인을 구입하신 '구매자'분들 외에 다른 디자인센터 판매자가 해당 소스를 훔쳐보는 경우가 있어 멘트를 남기니, */
/* 본인 능력껏, 양심껏 디자인하여 판매하시길 바랍니다 */



.prdpadding2 {margin:0 15px; position:relative; }

.fd-mainbn {max-width:1200px; margin:0 auto}
.fd-mainbn ul { zoom:1; width:100%; margin-bottom:0; display: table; font-size:0; }
.fd-mainbn ul a:link {text-decoration:none;}
.fd-mainbn ul a:hover {text-decoration:none; color:#6000;}
.fd-mainbn ul:after {content:""; display:block; clear:both; }
.fd-mainbn ul > li { display: inline-block; width:16.66%; text-align:left; vertical-align:top;}

.fd-mainbn .mainbnhover { display:none; width:100%; position:absolute; left:0%; top:100%; margin-top:30px; color:#fff; cursor:pointer}


.video-container {
    pointer-events: none;
	position:relative;
	padding-bottom:58%;
	padding-top:0;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:-10%;
	left:-12%;
	width:120%;
	height:130%;
}


#section4 .intro, #section3 .intro {
    position: absolute;
    top: 63%;
    left: 50%;
    width:100%;
    text-align:center;
    color:#000;
    transform: translateX(-50%);
    opacity: 0.2;
    -webkit-transition: all 2s ease,-webkit-transform 1s ease-out;
    -moz-transition: all 2s ease,-moz-transform 1s ease-out;
    -ms-transition: all 2s ease,-ms-transform 1s ease-out;
}



body.fp-viewing-4rdPage #section4 .intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    -webkit-transition: all 2s ease,-webkit-transform 1s ease-out;
    -moz-transition: all 2s ease,-moz-transform 1s ease-out;
    -ms-transition: all 2s ease,-ms-transform 1s ease-out;
}

body.fp-viewing-3rdPage #section3 .intro {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    -webkit-transition: all 2s ease,-webkit-transform 1s ease-out;
    -moz-transition: all 2s ease,-moz-transform 1s ease-out;
    -ms-transition: all 2s ease,-ms-transform 1s ease-out;
}
#section4 .link, #section3 .link {letter-spacing:1px; border:2px solid #000; font-size:1rem; padding:10px 20px; margin:0 auto; margin-top:20px; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
#section4 .link:hover, #section3 .link:hover {color:#000; border:2px solid #000; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; cursor:pointer}

#section4 .title, #section3 .title {font-size:2.6rem; opacity:0.8; padding-bottom:30px;}
#section4 .sub, #section3 .sub {font-size:1rem; line-height:1.3rem; opacity:0.8}

html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border: none;
    margin-top: -30px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition-duration: 0.3; transition-duration: 0.3s;
}
.fp-controlArrow.fp-prev {
    left: 70px;
    width: 30px;
    height:60px;
    background:transparent url(/web/upload/fd/bt1.png);
    opacity:0.6;
}
.fp-controlArrow.fp-next {
    right: 70px;
    width: 30px;
    height:60px;
    background:transparent url(/web/upload/fd/bt2.png);
    opacity:0.6;
}
.fp-controlArrow.fp-prev:hover, .fp-controlArrow.fp-next:hover {opacity:1; -webkit-transition-duration: 0.3; transition-duration: 0.3s;}
.fp-scrollable {
    overflow: hidden;
    position: relative;
}
.fp-scroller{
    overflow: hidden;
}
.iScrollIndicator{
    border: 0 !important;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.fp-right {
    right: 17px;
}
#fp-nav.fp-left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}
.fp-slidesNav.fp-bottom {
    bottom: 17px;
}
.fp-slidesNav.fp-top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
  text-align:center;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.fp-right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.fp-left {
    left: 20px;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}

/*Only display content to screen readers*/
.fp-sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* product info */
.story-wrap {/*padding: 0 23%;*/ margin-bottom:100px; width:1100px; margin:0 auto;}

.story-info {padding-top:30px;}
.story-info .story-img a img {width:100%;}

.story-tit {display:flex; justify-content:space-between; padding:33px 0; font-size:16px; line-height:26px;}
.story-tit > div p {margin-bottom:25px;}
#story-info01 .storyInfo-right {padding-right:57px;}
#story-info02 .storyInfo-right {padding-right:40px;}
#story-info03 .storyInfo-right {padding-right:43px;}
#story-info04 .storyInfo-right {padding-right:56px;}

/*.section fd-main-sec01 .fp-table-cell {height:1000px !important;}*/

